
.button {
    background-color: #4CAF50;
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
}
a:link, a:visited {
    background-color: #f44336;
    color: white;
    padding: 14px 25px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
}

a:hover, a:active {
    background-color: red;
}

.ulist {
    font-family: Arial, Helvetica, sans-serif;
   
    width: 100%;
  }
  
.ulist td {
    border: 1px solid rgb(255, 255, 255);
    padding: 8px;
    background-color: #7ff37b;
  }
  
.ulist tr:nth-child(even){background-color: #a7e7a5;}
  
.ulist tr:hover {background-color: #ddd;}
  
  